[2016-06-08 15:13] noobywalker opened #13 "last commit available in cocoapods"
Could you please make lastast commit available in cocoapods.

thanks.

[2016-06-08 15:34] szweier commented on #13
Ah yea sorry I forgot.  Will be up shortly.

[2016-06-08 15:34] #13 closed

[2016-06-09 01:41] noobywalker commented on #13
Thanks @szweier

[2016-10-07 02:27] devlixz opened #20 "Mention show"
how to add "@" become @steven on textView when selected list of mention steven? and also how to get text (String) on text View ? thanks anyway.

[2016-10-07 21:17] szweier commented on #20
Hi sorry I'm a little confused by the second part of your question so I just wanted to clarify both.

1. When typing a mention and selecting from the list you would like the textview to show the @ symbol and the name instead of just the name correct?

2. What text is not showing on the textview for you?

[2016-10-10 02:55] devlixz commented on #20
Thank you for reply

1. i will show with image

before
![screen shot 2016-10-10 at 9 47 28 am](https://cloud.githubusercontent.com/assets/22350941/19225949/d7eaf03e-8ece-11e6-89a5-aee56bb4a25c.png)

become
![screen shot 2016-10-10 at 9 48 04 am](https://cloud.githubusercontent.com/assets/22350941/19225952/e4018400-8ece-11e6-87b6-f0852579c8df.png)
*after select lists, name mentions add "@" in the b

[2016-10-14 09:15] jrodriguezbebee opened #21 "Deleting all the text causes a crash"
When you have more than one mention and try to select all the text and delete it causes a crash. The problem occurs in shouldAdjust, specifically in forceDefaultAttributes when trying to do this:

`mutableAttributedString.mutableString.replaceCharacters(in: range, with: text)`

In handleEditingMention you are handling only one mention(the last you find) and deleting all the text from de textView b

[2016-10-14 11:43] szweier commented on #21
Hi, thanks for reporting the issue.  I just tried typing a comment with two mentions in it, selecting the entire body of text and hitting delete.  I didn't come across a crash in doing so. Are there more specific repro steps you can provide? My test for example was the following:

1. Type mention string : "Testing that mentions work @mention1 when mentioning two @mention2 people."
2. Select all
3.

[2016-10-14 11:46] szweier commented on #20
As for the first part of this issue there is some difficulty around keeping the @ symbols in the text that may make this feature take some time.  I'll see what I can do but I'm not sure this will make it into the library.   I will try though.

For the second question when you click the button the method that is called would need to do the following:

`self.label.text = self.textView.text`

This wi

[2016-10-14 11:50] jrodriguezbebee commented on #21
Hi,

You can try with this simple texts:

@Steven Zweier @John Smith **-> Select all and delete it**
@Steven Zweier @John Smith **-> Select @John Smith and partially @Seteven Zweier**

I hope this can be helpful.
Best regards.

[2016-11-08 00:52] szweier commented on #21
Thank you for this info, I apologize for the delay but I believe I have a fix and will get a new release out shortly.

[2016-11-08 02:22] szweier commented on #20
@devlixz please try out this PR https://github.com/szweier/SZMentionsSwift/pull/23

Using the code located at that URL you should be able to simply add an '@' to the list of mention names and have it work correctly.

As for the setting of the label the answer I placed above should solve that for you as well.

Please let me know.

[2016-11-08 02:23] szweier commented on #21
@jrodriguezbebee sorry for the long delay in fixing this issue.  I've added code located here: https://github.com/szweier/SZMentionsSwift/pull/23 please test it and let me know if you believe this fixed the issue.

[2016-11-08 03:35] devlixz commented on #20
Hello sir,
thankyou very much

where code, so i can add an '@' ?

[2016-11-08 13:27] szweier commented on #20
All you would need to do is change the name you are passing into the mentions listener.

If you look at the example I have in this repo you can open up SZExampleMentionstableViewDataManager.swift, you see on line 36 where I'm setting an array of names.  If I changed that to be "@Steven Zweier" instead of "Steven Zweier" it would show with the @ in the table that you choose from as well as show the

[2016-11-08 22:59] #20 closed

[2016-11-09 01:33] devlixz commented on #20
oh i see. Thankyou Verymuch sir ! your amazing!

[2016-11-09 09:08] szweier commented on #20
No problem. Happy to help.

[2016-11-09 09:08] szweier commented on #21
Closing this issue now that #23 has been merged.

[2016-11-09 09:08] #21 closed

[2017-01-25 13:22] raphaelcruzeiro opened #32 "Should insertExistingMentions be made public?"
I'm trying to initialise the `SZMentionsListener` with a preexisting list of mentions. I found the `insertExistingMentions` method which seems to do what I want but the method is inaccessible from outside of the framework. Is this by design or should this method be made public?

[2017-01-25 14:03] szweier commented on #32
@raphaelcruzeiro you are absolutely correct this should be made public.  I just opened a PR to fix this.  Thanks for reporting the issue.

[2017-01-25 14:45] raphaelcruzeiro commented on #32
Somewhat related to this: After initialising the textView with a text and inserting the existing mentions on the `SZMentionsListener`, the mention attributes are not applied (though it seems at the mention is correctly added to the mention list of the listener). Am I missing some step here?

[2017-01-25 18:17] szweier commented on #32
@raphaelcruzeiro sorry for the delay, it should be working.  I've added it to the PR mentioned above as part of the example app.  Please let me know if that example helps.

[2017-01-26 00:53] #32 closed

[2017-01-26 01:04] szweier commented on #32
@raphaelcruzeiro version 1.0.2 should have what you're looking for.

[2017-02-06 18:17] raphaelcruzeiro opened #35 "Issues with emojis"
Mixing emojis and mentions generates some weird characters. On my experience, this is usually an issue of using String.characters.count vs String.utf16.count.

![screen shot 2017-02-06 at 18 15 15](https://cloud.githubusercontent.com/assets/425640/22660120/44d43c4c-ec98-11e6-9458-9634f9170ed8.png)

[2017-02-07 14:38] #35 closed

[2017-02-07 14:52] raphaelcruzeiro opened #38 "Mention that contain emojis cause the text view to get stuck using the mention attributes for regular text"
<img width="320" alt="screen shot 2017-02-07 at 14 45 14" src="https://cloud.githubusercontent.com/assets/425640/22695908/4900abf0-ed44-11e6-8756-91112a2463b4.png">

Not exactly sure what the problem is yet.  I guess `SZMentionHelper` is the first place I should start looking?

[2017-02-07 15:31] szweier commented on #38
Yea that's probably the best place to start, likely `forceDefaultAttributes` function.

[2017-02-07 23:27] szweier commented on #38
@raphaelcruzeiro are you able to replicate this issue using the example app?

[2017-02-07 23:56] szweier commented on #38
I'm unable to replicate this issue, can you provide more info on the setup.

[2017-02-08 10:37] raphaelcruzeiro commented on #38
Interesting. I am unable to replicate this with the example app. Which means that I am probably setting this up wrong.

This is how I am setting up the mentions on my `init` method:

[code]

I don't see anything obviously wrong with this. Any ideas?

[2017-02-08 13:03] szweier commented on #38
The only thing I'm noticing in that example is that you're setting the attributedText on the UITextView.  If you look at the `SZExampleAccessoryView.swift` file there's an example of using this library with inserting mentions.  On line 26 you'll see I'm setting up the TextView's text rather than attributed text.  The library should handle changing colors etc.  Maybe that's the problem.

[2017-02-08 13:04] szweier commented on #38
I've also merged in a change for an issue with editing mentions into master (not yet released) if you want to try that out to see if it helps as well.

[2017-02-09 15:12] raphaelcruzeiro commented on #38
Still having the same issues. I figured it might have something to do with an extension that I use for setting a placeholder on the text view but after disabling that the problem persisted.

I debugged both apps (mine and the example) and it seems that all the methods are being called correctly, though this is what happens on my app:

 Some text here **Someuser 🐍🐞** t**his text shouldn't be bold**

[2017-02-09 15:18] szweier commented on #38
Very strange, can you create a public repo with an example that I can pull down and try to work out the bug on?

[2017-02-09 15:44] raphaelcruzeiro commented on #38
I managed to replicate the issue with this sample project:

https://github.com/raphaelcruzeiro/MentionsOnTextView

[2017-02-09 23:36] szweier commented on #38
I've only gotten to dig a little bit so far but, the one very interesting thing I've noticed is that it's actually only changing the font back to the mention attribute and it's not changing the color back to mention attribute.  Something very strange is going on because of that emoji.  Thought this info might give you an idea if I can't find it.

[2017-02-09 23:46] szweier commented on #38
So this is interesting, the Emoji used throws the logic for attributed strings for a loop.  http://stackoverflow.com/questions/22826943/nsattributedstring-reporting-incorrect-sizes-for-uitextview-sizethatfits-and-bou NSOriginal font gets added and it seems as though the string is using original font to continue on as typing continues.  I'm not sure I've found a fix just yet but that's the latest.

[2017-02-09 23:57] szweier commented on #38
@raphaelcruzeiro I believe I've solved it.  Please try https://github.com/szweier/SZMentionsSwift/pull/40 and let me know if this works.  It seems to have worked in your example (thank you for that)

[2017-02-10 11:00] raphaelcruzeiro commented on #38
@szweier Works like a charm!

[2017-02-10 12:43] szweier commented on #38
Glad to hear.

[2017-02-10 12:43] #38 closed

[2017-03-30 20:53] camdengaba opened #42 "Is it possible to continue searching possible mentions with a space in the filter string?"
I'd like to be able to search my app's users by their full name, but currently, typing a space ends the search process.  Is this possible to allow spaces in the filter string?

Sorry if the question is unclear, and great work; this project has been a lifesaver.

[2017-03-31 00:50] szweier commented on #42
At the moment this is not possible, though I don't mind it as an enhancement to this project.  Will take a look into making this possible.

Glad to hear it's working well for you otherwise.

[2017-03-31 02:12] szweier commented on #42
@camdengaba I've opened a PR with this functionality.  There are some more things I'd like to look into before releasing this feature but if you'd like to try it out you can find it here:
https://github.com/szweier/SZMentionsSwift/pull/43

[2017-04-02 14:32] #42 closed

[2017-04-02 18:42] camdengaba commented on #42
Wow, I was not expecting such a quick response.  Thank you!

[2017-04-29 20:22] danielchristopher1 opened #47 "Resigning first responder causes textview to lose attributes for mentions"
If I take the focus off of my textview by using it's resignFirstResponder function, all of the attributes disappear from my text view while the mentions still exist.

I think this may be a bug outside of this library, possibly in iOS frameworks itself?

[2017-04-30 23:51] szweier commented on #47
@danielchristopher1 would you be able to provide an example of project that I could run to see this issue? I just tried calling resignFirstResponder and didn't see any attributes disappear from the textView.

[2017-05-10 13:46] szweier commented on #47
@danielchristopher1 did you have any additional repro steps or an example project that I could see to try and help you solve this problem?

[2017-05-10 16:52] raphaelcruzeiro commented on #47
@danielchristopher1 @szweier I vaguely remember having a similar issue myself and it turned out to be a conflict between SZMentionsSwift and another framework I was using. Trying to replicate this on an example project is definitely the way to go.

[2017-05-10 17:06] szweier commented on #47
@raphaelcruzeiro thanks for the additional info.

[2017-06-26 18:47] camdengaba opened #48 "How to cancel search?"
Is there a way to cancel searching and not resign the textView's firstResponder? I want to allow users to cancel searching by tapping a button or the textView.

My mentions listener has spaceAfterMention, addMentionOnReturnKey, and searchSpaces all set to true.

[2017-06-26 19:46] szweier commented on #48
@camdengaba you should be able to just call `hideMentionsList()`

[2017-06-26 20:27] camdengaba commented on #48
That function is private. Though I suppose I could unlock the file and make it public

[2017-06-26 20:55] szweier commented on #48
Sorry about that I may have answered too quickly. In order to do something like cancel searching you would likely need to be making adjustments to the code on your end and doing some type of editing to the text as well. My thought would be that you hide/remove the picker you display when `showMentionsListWithString(_ mentionString: String)` is called.  After that, because you have searchSpaces as

[2017-07-19 12:21] szweier commented on #47
Closing due to inactivity, please reopen with an example project if the issue persists.

[2017-07-19 12:21] #47 closed

[2017-07-19 12:21] szweier commented on #48
@camdengaba did you manage to resolve this issue?

[2017-07-21 15:23] #48 closed

[2017-08-16 08:41] slxl opened #49 "pod try"
you can use a `pod try` (https://github.com/CocoaPods/cocoapods-try) command to distribute an example project. Will be much more handy [for you]

[2017-08-16 12:44] szweier commented on #49
Thank you for the suggestion, I will look into it.

[2017-08-23 14:17] ndemenko opened #50 "Trigger symbol"
Can I keep printing trigger symbol inside text view? And how? (Like on git @name)

[2017-08-23 17:15] szweier commented on #50
Hi I believe the answer you're looking for is at the bottom (third from the last comment) on this issue. https://github.com/szweier/SZMentionsSwift/issues/20

[2017-09-06 22:33] szweier commented on #50
@ndemenko did you find what you were looking for in that other issue, is there anything more I can do to help you here?

[2017-09-06 23:56] #49 closed

[2017-09-07 05:42] ndemenko commented on #50
no. thanks for help. problem was resolved.

[2017-09-07 05:42] #50 closed

[2017-12-07 05:54] lucas34 opened #55 "Multiple triggers"
Hi,

Currently the trigger is limited to 1 String. Is it possible to have a collection of Strings as trigger. I would like to have '@' but also '＠' (Japanese @).

What do you think ?

[2017-12-07 13:37] szweier commented on #55
Very interesting, I'll look into it.

[2017-12-09 00:45] szweier commented on #55
@lucas34 I've opened up a PR here: https://github.com/szweier/SZMentionsSwift/pull/56 it should be working if you'd like to test it out. I'm going to be working on adding some tests and a little bit of code cleanup before merging but you can use it from this branch for now.

[2017-12-09 15:15] szweier commented on #55
Also, while I don't mind allowing for multiple triggers as it may be useful to someone I believe that in your example above you might be better off localizing the string you pass in for the trigger. That way the proper trigger would be used based on the device.

[2018-02-19 22:12] #55 closed

[2018-05-22 09:57] wonderhero opened #59 "Exception 'NSRangeException' for searchSpaces feature"
First of all, thank you for the great library that you have written. I have discovered an issue that could be reproduce as following:

1. Enable **searchSpaces** in SZMentionsListener
2. Type **Any String "@tag String" Any String** in text view.
3. Randomly **keep changing cursor (Select text position) position** (In quick manner) in text view.

It will throw the Range out of bounds issue.

Exampl

[2018-06-13 13:57] elanovasconcelos opened #60 "Option to not replace the trigger"
Hello,

Is it possible to avoid the trigger replacement? So the final result is "@name" not "name".

I tried to change a little SZMentionsListener, but it just created bugs.

thanks!

[2018-06-13 14:48] #60 closed

[2018-08-03 00:17] szweier commented on #59
Apologies for the delay here. I will look into this. Thank you for the bug report.

[2018-08-03 00:28] szweier commented on #59
@wonderhero I'm a bit confused by the steps here. For step 2 am I typing `Any String` then creating a tag and then typing `Any String`? So the end result would be `Any String` on either side of a mention?

[2018-08-03 00:43] wonderhero commented on #59
@szweier Thank you for your response. Sorry for the unclear explanation, `Any String` is mean to type any characters before and after a mention.

Example: **This is a test to** `@mention` **someone**.

[2018-08-03 00:49] szweier commented on #59
Thanks, and then just moving the cursor will trigger this issue?

[2018-08-03 00:52] wonderhero commented on #59
@szweier Yea. Thank you.

[2018-08-03 01:01] wonderhero opened #65 "textView(_:shouldChangeTextIn:replacementString:) not been called"
Hi szweier,

I have added SZMentionsListener in my code. I also implemented textView(_:shouldChangeTextIn:replacementString:) in my controller. I realised that if I paste string from external app into the textview that has implemented this library. My callback not getting called. I have stepped into the library code.

[code]
The delegate callback will not get called if it fulfilling the text pasti

[2018-08-03 01:07] szweier commented on #59
@wonderhero are you able to reproduce this in the example app? Pull this repo and run the SZMentionsExample scheme. I can't seem to reproduce this problem.

[2018-08-03 01:15] szweier commented on #65
@wonderhero please check out this PR and let me know if it solves your problem. https://github.com/szweier/SZMentionsSwift/pull/66

[2018-08-03 02:30] wonderhero commented on #59
@szweier I will try first and update you later. Thanks again.

[2018-08-03 05:05] wonderhero commented on #59
@szweier I have ran the SZMentionsExample scheme. I couldn't reproduce the problem. You may proceed to close this issue. I will look into my implementation that cause the issue. Thank you again for your effort in making this great library.

[2018-08-03 11:00] szweier commented on #59
No problem. Good luck tracking down the issue. If it turns out to be in this library please feel free to open another ticket.

[2018-08-03 11:00] #59 closed

[2018-08-04 20:28] szweier commented on #60
I noticed you closed this shortly after opening the ticket. Just in case you were still curious about the answer (and for those who may end up at this issue when trying to solve a similar problem). The best answer is located here: https://github.com/szweier/SZMentionsSwift/issues/20#issuecomment-259135782

[2018-08-07 00:29] wonderhero commented on #65
@szweier I have tested the code and tried to step into the implementation. The defer statement still not getting called. Would you mind to have a check on this again?

[2018-08-07 00:38] szweier commented on #65
@wonderhero are other delegate methods being called? I find it strange that the defer wouldn’t be hit. Any chance you can push a sample app to a public repo that demonstrates this problem?

[2018-08-07 01:55] wonderhero commented on #65
@szweier yes, other delegate methods working well. Only textView(_:shouldChangeTextIn:replacementString:) not been called. Let me try setup a sample app for this.

[2018-08-07 01:56] szweier commented on #65
@wonderhero I just placed the following code into the `ExampleViewController`

[code]

And it appears to be getting called (print statement is shown in console). It is worth noting that, due to the way the listener works, what you return from this method is ignored.

[2018-08-07 04:50] wonderhero commented on #65
@szweier I have setup a sample project to test this. Would you mind to check it out? https://github.com/wonderhero/SampleMentionApp

If I paste a text into the textview. The print text won't get executed.

[code]

[2018-08-07 04:57] wonderhero commented on #65
@szweier You are right, I have tested it. The listener is working. It is my bad.

[2018-08-07 07:12] #65 closed

[2018-08-07 08:09] wonderhero opened #69 "Exception 'NSRangeException' for searchSpaces feature"
@szweier I able to reproduce this issue again. It is just a bit tricky.

Step to reproduce:
1. Enable `searchSpaces` in `SZMentionsListener`
2. Type `Hello this is example of @mention @this_is_false_mention` in text view.
3. Randomly keep changing cursor (Select text position) position (In quick manner) in text view.

**@mention** is actual mention
**@this_is_false_mention** is a random string tha

[2018-08-07 08:10] wonderhero commented on #69
As long as there is `triggers` character in the string, it will throw the range out of bounds runtime error.

[2018-08-07 08:16] wonderhero commented on #69
Affect this closed issue as well. [#20](https://github.com/szweier/SZMentionsSwift/issues/20) To show trigger character. If the trigger character is presented in the string. It will cause this runtime error as well when the cursor moving around in the string.

[2018-08-07 10:17] szweier commented on #69
I'm still unable to reproduce this. Are you reproducing this on a simulator or device? I'll keep trying, but so far, no luck. Any chance you can write a unit test that results in this crash?

[2018-08-07 11:47] szweier commented on #69
My mistake, I was setting the wrong bool to `true`. I reread your issue and believe I understand what's going on. Hopefully I can figure out a solution tonight.

[2018-08-07 23:31] szweier commented on #69
@wonderhero thanks for pressing the issue here. I found it and will be pushing a new version shortly.

[2018-08-07 23:43] #69 closed

[2018-08-08 00:31] wonderhero commented on #69
@szweier Thanks for resolving the issue. Will buy you a coffee.

[2018-08-15 04:25] kuntal33 opened #71 "Swift 4 not supported?"
When I run pod install it installs SZMentionsSwift (1.0.9) and this version is giving me compile time error for attributed key names.
Please help me

[2018-08-16 14:27] asim1mehta opened #72 "Selecting suggested word when Text view is Empty, pastes the word two times"
![simulator screen shot - iphone 5s - 2018-08-16 at 22 46 17](https://user-images.githubusercontent.com/42443326/44223786-3b84c480-a1a6-11e8-8f95-f4d20185c4d3.png)

[2018-08-16 17:27] asim1mehta opened #73 "If there is a emoji before a mention and I try to insert existing mention, Assertion Test fails"
Input String -> "🦅 Asim"

range.location = 3
range.length = 4
mutableAttributedString.string.count = 6

[2018-08-16 17:36] asim1mehta commented on #72
I used a hack for now by setting  **textView.text = " "**  in pasting section of "textView(_:, shouldChangeTextIn:, replacementText:)"

[code]

[2018-08-16 17:42] asim1mehta commented on #73
For now I changed  **mutableAttributedString.string.count** to **mutableAttributedString.string.utf16.count**
[code]

[2018-08-16 21:07] szweier commented on #71
Is your podfile specifying that version? Seems like maybe you also want to run `pod update` rather than install, your podfile.lock may well be pointing to 1.0.9 and keeping you there when running `pod install`.

[2018-08-16 21:08] szweier commented on #73
This looks like the perfect solution for this problem. Would you be willing to open a PR for this and add a test that demonstrates the problem.

[2018-08-16 21:08] szweier commented on #72
Thanks for this, I will take a look.

[2018-08-17 01:14] szweier commented on #72
@asim1mehta do you have steps you took that allowed you to see the predictive text when the uitextview was empty? I managed to get into that state once but haven't managed to see it again in the simulator.

[2018-08-17 01:58] #72 closed

[2018-08-17 02:03] #73 closed

[2018-08-17 02:04] szweier commented on #73
@asim1mehta please try version 2.0.3 as it should contain the fix you're looking for for this issue.

[2018-08-17 02:07] szweier commented on #71
@kuntal33 I believe my comment above will fix your issue. I'm going to close this issue, if you're still having trouble please reopen the issue and I will continue to try to assist you. Keep in mind, you may get a warning when trying `pod update` telling you to run `pod repo update`. That combination should fix the problem you are seeing.

[2018-08-17 02:07] #71 closed

[2018-08-17 06:34] asim1mehta commented on #73
Thanks @szweier 🙂

[2018-08-17 06:35] asim1mehta commented on #72
Thanks @szweier

[2018-08-17 06:45] asim1mehta opened #75 "Can you make "resetEmpty" public?"

[2018-08-17 07:37] asim1mehta opened #76 "When String gets long in TextView, Inserting Predictive text results in scrolling to top."

[2018-08-17 11:12] szweier commented on #75
Aside from potential bugs in the library I don't see the need to make `resetEmpty` public. I am opened to having a discussion about this, I can be convinced.

[2018-08-17 12:58] asim1mehta commented on #75
I need to clear the textView and mentions without user's action.

How else can I achieve it?

[2018-08-17 17:55] asim1mehta commented on #75
If I set the text to "",  mentions will not be cleared and when I will access the mentions old mentions will still be there.

[2018-08-19 13:39] szweier commented on #75
Sorry I haven’t gotten to check into this yet. Can you try calling textView.insertText(“”) that should trigger all events and wipe out mentions.

[2018-08-19 15:48] #75 closed

[2018-08-20 05:48] asim1mehta commented on #76
Hi @szweier, I am still facing this issue in new update.

[2018-08-20 09:56] asim1mehta opened #79 "When Capitalization for sentences is enabled, After entering first digit Capitalization is not disabled when using GBoard."
It happens only when using GBoard.

I guess it is happening because the text field is being reset.

It does not happen if we do not reset the text field when replacementText.count == 1, both in `shouldAdjust(_ textView: UITextView, range: NSRange, text: String)` and `
textView(_ textView: UITextView, shouldChangeTextIn range: NSRange,
                        replacementText text: String) -> Bool
`

[2018-09-04 12:41] Footjy opened #80 "Different styles for different kind of mentions"
Hey,

Thanks for the lib! In my case I need to manage 2 different kinds of mentions: some mentions should appear in blue, some others should appear in gray. But currently it seems you can only have them all blue, or all gray.

Do you think we could add this feature to the lib? I could help if needed.

[2018-09-04 17:46] szweier commented on #80
That's a very interesting idea, I'll find some time to look into it. What would be the necessary information for you to decide on the color you'd want to see? For example, if you were given the mention name could you determine the color?

[2018-09-04 22:11] szweier commented on #80
This is definitely something I need to give some more thought to before building. My initial intention was to guide the user of this library by making sure they used the same attributes for both the mention and the regular text. The reason for this was to avoid strange text effects. For example if you had the font set for mentions but not regular text, then you'd have the default text for the firs

[2018-09-05 08:01] Footjy commented on #80
Thank you for your quick answer. Your thoughts are very interesting.

To decide on the color of the mention I would need more than the name. I would need some parameter stored in the `CreateMention` object. Something like a "disabled" Bool. So your idea of a closure seems like a good way to go, having the `Mention`, or `CreateMention` object in parameter.

I can think of a way to do that keeping t

[2018-09-06 12:51] szweier commented on #80
Interesting thoughts but I think it may be overkill to simply try to guide users of the lib down a specific path. I opened a PR with changes I think will work just fine but would like you to give it a try and let me know your thoughts. Validation would now only work on the first request (so in theory a dev could write code that passes in the default case and fails to change all necessary styles fo

[2018-09-06 17:34] Footjy commented on #80
Great, thank you very much, it looks like what I need! I did not find the time to test it today unfortunately, I think it will have to wait until next Tuesday, sorry for that. I'll let you know then if it works.

[2018-09-11 13:36] Footjy commented on #80
Hey thank you very much, I tried it and it works perfectly. Sorry about the delay.

[2018-09-11 14:03] Footjy commented on #80
As a corollary, do you think it might be possible to make the mutable mention array accessible somehow?

Here is my business case, so you can understand it better: I can post some message in a group and mention some users. But while editing the message I can change the group in which to post, thus making some users unavailable. So I need to change the style of the mentions of those users to gray.

[2018-09-16 00:28] szweier commented on #80
Sorry for the delayed response here. Yea I think it'd be best to open an additional issue for this. I'm going to work on getting the PR for the original fix merged and deployed soon (not sure about tonight just yet).

[2018-09-16 00:54] #80 closed

[2018-09-17 16:35] Footjy opened #84 "HideMentions() not called when pasting text."
Hey thank you for the lib,

When you type in `@` the showMentionsList() method is called, so the list of possible mentions is displayed. But when pasting (or adding an emoji) there is no call to hideMentions() so the list remains.

I suggest calling `hideMentions()` in `func textView(_ textView: UITextView, shouldChangeTextIn range: NSRange, replacementText text: String)`.

Thanks,

[2018-09-18 23:47] JoeFerrucci opened #85 "Add Images or GIFs to README"
Consider showing images or gifs in the README, demonstrating your library and mentions.

[2018-09-26 06:32] kokitang opened #86 "[Crash Bug] Crash when add single word mention with prefix "@"."
How to reproduce:

1. Try on sample project (or any project)
2. If using sample project, change the dataSource to

`private let mentions: [ExampleMention] = {
        return [
            "Steven",
            "John Smith",
            "Joe Tesla"].map {
                ExampleMention(name: $0, range: NSRange(location: 0, length: 0))
        }
    }()`

`func tableView(_ tableView: UITableView, di

[2018-09-27 08:27] kokitang commented on #86
Temp fixed after hours of review codes. May have potential bug.

In `@discardableResult private func shouldAdjust(_ textView: UITextView, range: NSRange, text: String) -> Bool`

Change
[code]

To

[code]

due to `clearMention(editedMention)` will reset `editingMention`, which makes `currentMentionRange` not updated at the first delete character inside mention.

e.g.
`currentMentionRange` not updat

[2018-10-10 09:55] asim1mehta opened #87 "textView delegates when coming from MentionListner, does not have same behaviour when they are delegated from UITextView"
Hi

This is just a suggestion.

If `textview` delegating is not deferred and are called in the starting of the functions they will give the same results as actual delegates when coming from `UITextView`.

For example:
When `delegate?.textView?(textView, shouldChangeTextIn: range, replacementText: text)`
is called in MentionListner the string in textView has already been changed.

[2018-10-12 22:11] #76 closed

[2018-10-12 22:33] szweier commented on #86
@kokitang I just tried the steps mentioned in your initial comment and I don't see how you are clicking `John Smith` when the text is `@ste` as this would filter the options list and only show Steven

[2018-10-25 16:02] Footjy commented on #84
@szweier Sorry for the late reply too I was away for while.

I will explain more precisely the problem I see because reading myself again I admit it's not clear at all:

- If I type in "@h"
- Then I have some mentions displayed matching the "h" text
- Then if I paste "abc" when my cursor is right after "h"
- I get "@h abc" with my cursor after "abc"
- I'm not sure what the problem is here, but I w

[2018-10-28 00:19] szweier commented on #84
@Footjy please try this branch https://github.com/szweier/SZMentionsSwift/pull/88

[2018-11-09 02:12] #84 closed

[2018-12-07 14:57] szweier commented on #87
Good point @asim1mehta , I have a large PR I'm working on and I will have this addressed there.

[2018-12-07 15:59] szweier commented on #86
I'm still unable to reproduce this crash by using the steps provided in your first comment. Did you change anything else in the example? It seems strange that the string "Ste" would give you a tableview with "John Smith" as an option. Feel free to reopen this issue if you have more data to provide that may help me reproduce the bug. For now, I'm going to close it.

[2018-12-07 15:59] #86 closed

[2019-01-04 16:34] ChrisBGriffith opened #93 "Typing emoji does not trigger textViewDidChange"
Emojis get caught in the `shouldChangeTextIn` delegate method because their utf16 count is greater than 1. In instances where I'm needing to respond to `textViewDidChange`, it doesn't get called when an emoji is typed.

[2019-01-23 14:47] nwios commented on #20
you can be adding "@" trigger to your UITextview at (ExampleMentionsTableViewDataManager.swift) class within (didSelectRowAt) delegate using the following code:

        var selectedMention = mentionsList[indexPath.row]
        selectedMention.name = "@" + selectedMention.name
        listener.addMention(selectedMention)

instead of:

        listener.addMention(mentionsList[indexPath.row])

selec

[2019-02-01 01:07] #87 closed

[2019-02-01 13:56] szweier commented on #93
I believe I have a fix for this issue here if you want to take a look https://github.com/szweier/SZMentionsSwift/pull/95

[2019-02-05 20:41] aleksandrshoshiashvili opened #96 "`spaceAfterMention` add space but leaves the cursor (carriage) in its original position"
The problem in NSRange extension as I could find:

if `spaceAfterMention = true` then
  when user tap on mention `func addMention`
    then called `add(createMention, spaceAfterMention: spaceAfterMention, at: currentMentionRange, with: mentionTextAttributes)`
     then called `replace(charactersIn: range, with: mention.mentionName(with: spaceAfterMention))`, but in this place we use the `selectedR

[2019-02-06 12:05] aleksandrshoshiashvili commented on #96
My fix leads to crash if input emoji after mention :(

[2019-02-06 13:07] szweier commented on #96
@aleksandrshoshiashvili can you open a PR with a failing test I can then try to figure out what needs to be done to fix it. Also I don't see a difference to the two code samples you provided in your first comment. What did you change?

[2019-02-06 14:51] aleksandrshoshiashvili commented on #96
@szweier Ok, I will open a PR. Sorry, I misspelled in the first comment, now the given pieces of code should be correct

[2019-02-06 15:27] aleksandrshoshiashvili commented on #96
@szweier I opened PR #97

[2019-02-07 02:21] #93 closed

[2019-02-07 02:25] szweier commented on #96
Thanks for adding that example. I've opened https://github.com/szweier/SZMentionsSwift/pull/98 since I couldn't seem to edit your opened PR. It has your test along with a fix. I'll merge it when tests pass.

[2019-02-07 03:27] #96 closed

[2019-02-07 14:29] aleksandrshoshiashvili commented on #96
@szweier thanks!

[2019-02-18 04:45] phucdth12a opened #100 "input diacritic character before mention"
First input: "Một ngày đẹp trời @Zeee"
-> mention is correct with range: {18, 5}
After i add string: "Một ngày thật là đẹp trời @Zeee"
-> mention is not correct with range: {26, 5}

-> Mention is correct range: {25, 5}

If add diacritic character before mention this all old mention range not correct

[2019-02-21 09:13] wonderhero opened #101 "Unable to get mention array from listener"
Hi szweier,

I have recently updated my project SZMentionsSwift library from version 2.0.5 to 2.0.7 and I realised that the public method for getting mention array is unavailable to access anymore. May I know if there any public method for me to access it?

[2019-02-24 14:53] szweier commented on #100
@phucdth12a are you moving the cursor into the middle of the first input and then inserting `thật là` and that's when he mention range is incorrect?

[2019-02-24 14:53] szweier commented on #101
@wonderhero please use version 2.0.8 that I just pushed, it should have the fix you need.

[2019-02-24 14:54] #101 closed

[2019-02-24 16:40] phucdth12a commented on #100
yes! after i choose one mention and moving cursor to before mention and typing diacritic character.
I think it in function 'shouldChangeTextIn'
When i typing u -> +1
after typing uw -> +2 but 'uw' => 'ư' (correct + 1)

[2019-02-25 09:52] tadejr opened #102 "MentionsListener searchSpaces causes a crash"
It appears using the `searchSpaces` feature causes the app to crash.

Steps to reproduce:
1. Enable `searchSpaces`
2. Enter trigger in the text field
3. Tap backspace
4. The app crashes with `Fatal error: Can't advance past endIndex`

[2019-02-25 10:11] wonderhero commented on #101
@szweier thank you.

[2019-03-09 15:24] #102 closed

[2019-03-09 17:00] szweier commented on #100
@phucdth12a  In my testing it appears as though the range of {26, 5} is correct. I tried using the example project and if I type in `Một ngày đẹp trời ` and then add a mention the range is as you stated {18, 5}. If I then move my cursor to right at the start of `đẹp`and insert `thật là ` I get a range of {26, 5}. If I count the characters in `Một ngày thật là đẹp trời ` there are 26 which means th

[2019-03-13 08:26] phucdth12a commented on #100
I test in source demo:
First Input: Test @Steven Zweier => range { 5, 13 }
After i move cursor to the start index and typing: Một ngày đẹp trời, một Test @Steven Zweier => range { 36, 13 }
but "Một ngày đẹp trời, một Test ".utf16.count = 28

and when mention @Steven Zweier after spacing "Steven Zweier" => "Steven Zưeier"

Change to vietnamese keyboard
"Một ngày đẹp trời, một Test" => typing: Mootj

[2019-03-21 16:01] ValCanBuild opened #105 "Carthage support"
This framework cannot currently be built with Carthage. Can you look at providing support for it?

[2019-03-21 22:37] szweier commented on #105
I'll take a look.

[2019-03-23 19:03] szweier commented on #105
@ValCanBuild please try now I believe it should work. Let me know if you run into any issues.

[2019-03-23 20:07] szweier commented on #100
I've tried switching to Vietnamese keyboard and using the sample application but even after typing in the text provided the location of the mention is still appearing as accurate as far as I can tell. I've also tried adding the following test which is passing.

[code]

If you see something incorrect about the test above please let me know.

Can you also verify that you are trying this on the most

[2019-03-23 20:54] #85 closed

[2019-03-23 21:11] szweier commented on #100
I see the problem, so if the characters are selected by long pressing keys and choosing the character the library will calculate the fields correctly. This is why the test above is passing. However, if typing shortcuts are used (typing u and w resulting in ú) the information provided to `shouldChangeTextIn` is not correctly indicating the end result of the textView. The method would be told we're

[2019-03-24 13:03] szweier commented on #79
@asim1mehta I apologize for the delay. I've just tried out Gboard and I don't see the problem. Have my recent changes to the library resolved this issue for you? The testing I did was to run the example library on my device with the Gboard enabled, I then deleted all of the text from the textView and started typing a sentence. Only the first letter was capitalized. Assuming I tested this properly

[2019-03-26 10:11] szweier commented on #100
I’ll continue looking into a fix for this but in the meantime I’ve opened a bug report for Apple to look into this. It looks like we don’t get the correct data being sent to the `shouldReplaceCharactersInRange` method in this scenario.

[2019-03-26 10:55] #79 closed

[2019-04-15 23:22] szweier commented on #100
Apple has marked the issue as a duplicate. At the very least this is a known issue. Sadly I don’t have any insight into any additional information and am unable to find a way to hack around this.

[2019-04-16 12:41] ValCanBuild commented on #105
@szweier doesn't seem to work. I am getting the following error:

[code]

I've attached the build log - from what I can see the file in the `scripts` path is messing it up, but you'll probably understand it better.

[carthage-xcodebuild.KuLs2s.log](https://github.com/szweier/SZMentionsSwift/files/3084908/carthage-xcodebuild.KuLs2s.log)

[2019-04-18 11:21] szweier commented on #105
Looks like archiving is trying to run swiftformat I'll have to make some more adjustments.

[2019-04-20 15:06] szweier commented on #105
@ValCanBuild I'm trying to replicate the issue you're seeing but I can't seem to. The steps I took were:
1. Create a new project
2. Create a Cartfile with `GitHub "szweier/SZMentionsSwift"`
3. Run `carthage update`
4. Open the new project and drag the `SZMentionsSwift.framework` from `Carthage/Build/iOS` into my sample app and add it as a framework.
5. Run archive.

I think, based on your logs, th

[2019-04-22 10:41] ValCanBuild commented on #105
@szweier My failure point happens at step 3. I run `carthage update --platform iOS --cache-builds`
This is the output that I get regarding `SZMentions`:
[code]

[2019-04-23 00:23] szweier commented on #105
I don't understand why it appears be trying to build the scheme twice. I just tried running Carthage update using what you've provided and still haven't been able to reproduce this issue.

[2019-04-23 07:48] ValCanBuild commented on #105
Yes, it does contain it. I've also tried installing swiftformat on my machine (via homebrew) in case missing it was causing the error but that didn't change anything.

[2019-04-23 07:55] ValCanBuild commented on #105
Btw I get the same error when I try to build the example project, it builds the scheme once but still fails:

[code]

[2019-04-25 22:06] szweier commented on #105
What version of Carthage are you using.

[2019-04-26 07:08] ValCanBuild commented on #105
0.33.0

[2019-04-30 21:36] szweier commented on #105
@ValCanBuild any chance you can throw a sample project up in GitHub that fails to run `carthage update --platform iOS`? I still can't seem to reproduce the issue you're seeing.

[2019-05-01 01:07] #105 closed

[2019-05-01 01:07] szweier commented on #105
@ValCanBuild please try 2.1.1 and let me know if that's working properly for you.

[2019-05-01 08:19] ValCanBuild commented on #105
@szweier yep, that seems to work. Thank 👍

[2019-05-01 10:06] szweier commented on #105
Thanks for reporting the issue. Glad it’s resolved.

[2019-07-11 04:59] kiran4991 opened #110 "Remove a mention in one stroke (instead of deleting characters of a mention one by one)while backspacing"
Hi @szweier , Awesome library you have made. I have integrated it in my code. Working fine. But just one feature I want, that is to remove mention in just one stroke while backspacing. I just tried the following code,

if let mention = mentions |> mentionBeingEdited(at: range) {
mention |> clearMention()
/* let str = mentionsTextView.attributedText.string
let replaceStr = NSAttributedString(string

[2019-07-24 00:28] szweier commented on #110
Thanks for the suggestion, I'll try to take a look at this when I have some free time. I think I should be able to add this as an opt in option.

[2019-08-15 09:33] wonderhero opened #113 "String index is out of bounds error when mentioned text contain Emoji"
Hi szweier,

If I have enabled spaceAfterMention and searchSpaces and my mentioned text contains Emoji character eg:  😌The library will crash at line 262 of MentionListener class file.

`let endIndex = mentionsTextView.text.index(startIndex, offsetBy: NSMaxRange(textView.selectedRange) - location)`

`Fatal error: String index is out of bounds`

Could you please assist? Thank you.

[2019-09-08 15:37] szweier commented on #113
@wonderhero sorry for the delay, can you try https://github.com/szweier/SZMentionsSwift/pull/114 I believe it should resolve your issue.

[2019-09-08 16:16] szweier commented on #110
@kiran4991 please try https://github.com/szweier/SZMentionsSwift/pull/115 and let me know if it's working as you would expect.

[2019-09-09 04:48] wonderhero commented on #113
@szweier it is working like a charm now. Thank you for your solution.

[2019-09-10 00:18] #113 closed

[2019-09-10 00:18] #110 closed

[2019-09-23 07:10] wonderhero opened #116 "String index is out of bounds when mentioned text contain Emoji and newline character "\n""
Hi szweier,

I have another error related to emoji character (UTF16)

Input = `@mentionwithemoji😌\n @` _<- trigger mention again after newline will cause String index is out of bounds error at String extension class._

Error at line 32 of **isMentionEnabledAt()** function.
`let start = index(startIndex, offsetBy: location - 1)`

Could you please kindly assist on the issue? Thank you.

[2019-09-23 19:00] patrickd105 commented on #116
Hey @wonderhero , could you check if the changes I put up for PR here https://github.com/szweier/SZMentionsSwift/pull/117 fix your issue? If so we can link this issue to that PR

[2019-09-24 22:55] wonderhero commented on #116
Hi @patrickd105, I have checked your PR. It is working fine and fixed my issue. Thanks.

[2019-09-30 22:52] szweier commented on #116
I'm closing this issue asI've merged #117

[2019-09-30 22:52] #116 closed

[2019-10-24 08:31] wonderhero opened #119 "UITextView autoCapitalizationType is always Words"
Hi szweier,

The mentions library has overwritten my UITextView autoCapitalizationType type. It always capitalizes Words even though I have set my UITextView to Sentences. [For the auto-suggestion words]

I have tested with the sample in this project.

![Screenshot 2019-10-24 at 4 22 49 PM](https://user-images.githubusercontent.com/3401072/67467631-ac155400-f67b-11e9-87bd-81d067f29f34.png)

Could

[2019-10-25 23:34] szweier commented on #119
Looks like something specific to iOS 13, I'm looking now.

[2019-10-26 02:41] #119 closed

[2019-10-26 05:09] szweier commented on #100
@phucdth12a I've made a few changes recently that might have resolved this issue. I've tried to replicate the issue and can't seem to but I was hoping you could test as well and let me know what you're seeing.

[2019-10-28 15:17] wonderhero commented on #119
Hi szweier,

It is working perfectly. Thank you for helping.

[2019-10-28 15:40] szweier commented on #119
Thanks for confirming.

[2019-11-28 16:43] Terens777 opened #123 "How to get an array from String"

[2019-11-28 16:45] Terens777 opened #124 "How to get an array text from String?"
i have string

"Hello my name Andre Tan i love Olga Kiseleva"

and have - Array  with [Mention] -> Andre Tan, Olga Kiseleva

how get ?
`
["Hello my name ", "Andre Tan", " i love ", "Olga Kiseleva"]
`
Is there any way to solve this?
thanks

[2019-11-28 17:01] #123 closed

[2019-11-29 12:30] szweier commented on #124
There’s nothing specifically provided by this library to return that type of array. You could however generate that array by using the mention ranges to create that array. I’m thinking something like getting the range of string from 0 to the first mention’s location. Then you can get the first mention using its location and length and continue that type of pattern until you parse the entire string

[2019-11-29 15:02] Terens777 commented on #124
Thanks

[2019-11-29 15:02] #124 closed

[2019-12-10 05:29] Indolia opened #125 "Auto Correct suggestion issue"
Keyboard show some incorrect suggestions after set the attributed string in textview.
In should change delegate. Its come only in iOS 13. In iOS 12 it is working fine. Please look into this.
![597233243 425042](https://user-images.githubusercontent.com/13569479/70498270-dc398900-1b3b-11ea-88d7-606608d164d6.png)

[2019-12-19 14:49] szweier commented on #125
@Indolia
Which version of iOS 13 were you seeing this issue on (I tested on 13.3 and was seeing decent suggestions)?
The suggestions don't look that bad to me, what were you expecting to see?

[2019-12-24 09:52] kirti301290 opened #126 "Remove a mention in one stroke not working when using backspace button on keyboard"
Hello
backspace delete mention not working here i trying to explain  criteria
i mentioned Text like hi @User1 @User2 and @User3 and i tried to delete **User1** using backspace it working then try to delete **User2** then it works but when i try to delete  **User3** then it not working  also some time app crashing
Pls give me solution how it work
Thanks in advance

[2019-12-24 09:53] kirti301290 commented on #110
Hello @szweier @kiran4991
backspace delete mention not working here i trying to explain  criteria
i mentioned Text like hi @User1 @User2 and @User3 and i tried to delete **User1** using backspace it working then try to delete **User2** then it works but when i try to delete  **User3** then it not working
Pls give me solution how it work
Thanks in advance

[2020-01-04 15:01] szweier commented on #126
@kirti301290 I believe https://github.com/szweier/SZMentionsSwift/pull/127 will fix your issue, please give that a try. I'll get it into the next release.

[2020-02-11 09:30] paulosaure opened #128 "Delete entire mention with 2 backspace"
Hello,

**removeEntireMention= true** parameters allow to remove entire mention with backspace.

**removeEntireMention= false** parameter allows to highlight mention on the first backspace then unhighlight mention and only keeping text.

Is possible to highlight mention on the first backspace then remove entire mention with a second backspace ?

Thanks for helping

[2020-02-12 11:43] DavonMars commented on #65
In my case I forgot to initialize listener with viewController delegate
`public init(
        mentionsTextView: UITextView,
        **delegate: UITextViewDelegate? = nil,**
        ...`

[2020-02-15 03:57] szweier commented on #125
I'm going to close this issue, if there's more information you can provide please feel free to reopen.

[2020-02-15 03:57] #125 closed

[2020-02-15 04:03] szweier commented on #128
The only two options that exist at the moment are:
`removeEntireMention= true`: The result here is that if you delete any part of a mention the entire mention is removed.
`removeEntireMention= false`: The result here is that if you edit any part of a mention the text loses its highlight and the mention is removed from the mentions array (essentially the remaining text becomes plain text).

Can you

[2020-02-19 10:36] DavonMars commented on #128
I would like to highlight the mention then remove the entire mention

[2020-02-19 10:37] paul-lavoine commented on #128
I would like to highlight the mention then remove the entire mention.

I dont want to remove only the highlight. I want the text the entire mention disappears.

[2020-02-19 12:42] szweier commented on #128
Oh I see. At the moment I don’t have that functionality. I’ll see about adding that in as another option shortly. Thanks for the suggestion.

[2020-02-19 17:10] #126 closed

[2020-02-19 17:16] szweier commented on #128
Out of curiosity are you hoping for the selection range to be over the entire mention to show that the mention will be removed entirely or do you just want the deletion of any character within the mention to result in the entire mention text being removed.

[2020-02-20 09:51] paul-lavoine commented on #128
I hope for the selection range to be over the entire mention to show that the mention will be removed entirely ;) !

[2020-02-21 14:23] paul-lavoine opened #131 "`removeEntireMention = true` broken"
I tried with sample:

- Write:   "**@Steven Zweier** and **@John Smith**"
- Remove mention: **@Steven Zweier**
- Check mention list range.
- **@John Smith** mention range is not updated after have delete the first mention

<img width="541" alt="Capture d’écran 2020-02-21 à 15 23 00" src="https://user-images.githubusercontent.com/8981703/75042037-115c4300-54be-11ea-827e-8f9dc011273e.png">

[2020-02-29 22:18] szweier commented on #131
@paulosaure where did you set your breakpoint to check the mentions list? I just tried to replicate the issue by placing the breakpoint at
` _ = delegate?.textView?(textView, shouldChangeTextIn: range, replacementText: text)`
When I check the mentions list by hitting space once after deleting the mention I see that the `po` shows the proper range.

[2020-03-09 23:56] bribar opened #132 "Format mention to include html for UITextView"
Hi @szweier,

Nice work on the library!

I was curious if it's possible to wrap a mention in a span tag when inserting the mention into the text view?

I tried modifying the didSelectRowAt, but the CreateMention protocol requires a String for name. Am I able to modify the protocol to allow NSAttributedString?

Thanks for any help!

[2020-03-14 18:28] szweier commented on #132
I'm not sure what exactly you're hoping to achieve but if you wanted to have specific attributes for a mention or for plain text you can use `mentionTextAttributes` and `defaultTextAttributes`. The attributes provided for those two parameters will be applied to the text. So you should be able to do things like underline, change color etc. If this doesn't cover what you're trying to achieve please

[2020-03-16 16:28] bribar commented on #132
Hi @szweier

I'm aware of the attribute options, but I don't think I can wrap with tags? I'm looking for a way to send the message with the mention wrapped in an html tag like a span tag to the server-side script. Example below

`Hi <span class="mention">@James Jones</span>, just following up on our last email.`

I could regex search the message on the server-side and wrap it myself. But I prefer

[2020-03-17 00:19] szweier commented on #132
I see. Rather than do a regex search I think I’d use the mention range to apply any necessary tags around the mentions when sending it to the server. Is the span tag being used to draw mentions on a web UI? I’m wondering if maybe passing the ranges to the server would be enough to generate the proper setup as well.

[2020-05-28 08:47] sushil-jungleworks opened #133 "After selecting mention from table view, the backspace does not reset the list"
![ezgif-3-6285226a0517](https://user-images.githubusercontent.com/60963791/83121595-21ed0c80-a0f0-11ea-8568-26e559d3953f.gif)

I am facing a very strange issue.
When I type a name in text field (@myName) and select mention from tableView, if I try to delete this mention by pressing backspace, the table shows only one entry i.e myName. After clearing the whole text field, If I again type @myName th

[2020-09-19 16:18] mradzinski opened #134 "Not working on iOS 14?"
By following the example and doing this below, `showMentionsListWithString` isn't getting called at all on iOS 14 when entering a trigger such as `@`.

[code]

[2020-09-19 18:30] mradzinski commented on #134
Managed to make it work, but found several other issues... I'll open some for the most important ones.

[2020-09-19 18:30] #134 closed, assigned to nobody

[2020-09-19 18:51] mradzinski opened #135 "shouldChangeTextIn not respected"
`shouldChangeTextIn` of `UITextViewDelegate` isn't being respected. This prevents things such as limiting characters count.

This is the current implementation:
[code]

Should be:
[code]

[2020-11-06 14:29] whitetown commented on #131
if removeEntireMention == true
then "select All" -> "Cut" does not cut the entire text, but just some random piece of text

[2021-02-22 22:17] alezoffoli opened #138 "Is it possible to use without triggers?"
I'm using this library with '#' and '@' as triggers flawlessly, but I'm wondering if it's possible to also use it without triggers? i.e. it would display the mentions list as soon as user starts typing anything

My use case is that I'm building a sort of search textfield, so the user is not typing a comment, but rather searching something to select

[2021-03-03 08:30] jadavbk opened #139 "The issue with adding mention while editing the text"
I have added 1 user to mention on textview, After that continue with adding text and its mention color resets.
Please check the screenshots for that.

![Screenshot 2021-03-03 at 1 57 44 PM](https://user-images.githubusercontent.com/6038159/109776430-91b49880-7c28-11eb-967a-3f71aaec4788.png)
![Screenshot 2021-03-03 at 1 57 59 PM](https://user-images.githubusercontent.com/6038159/109776434-94af8900-

[2021-09-21 10:33] apollopattern opened #140 "AttributeContainer protocol conflicts with XCode 13's new AttributeContainer struct"
I'm getting an "'AttributeContainer' is ambiguous for type lookup in this context" error when I try to build with XCode 13. This is because XCode added a new AttributeContainer struct to Foundation, so now it's unclear which one my code refers to. Is there a simple way to resolve this ambiguity?

[2021-09-21 10:37] apollopattern commented on #140
Aha, yep, this is simple enough: `SZMentionsSwift.AttributeContainer`. Leaving up here for others encountering this issue. (Never encountered this sort of ambiguity before.)

[2021-09-29 17:41] 3llomi commented on #134
I have the same issue @mradzinski , Can you tell how did you solve this?

[2022-03-14 20:29] hafiz-mohsin-confiz opened #141 "How can we trigger the mention list with @ Sign with System Emojis"
Hi @szweier ,
Hope you are doing great. Is there a way in library to handle mention list along the system emoji/custom emoji without using any  extra empty space {" " } before system emoji or custom emojis, and we will be able to show the mention list on @Sign with them.

Waiting for your quick reply?

Regards,
Mohsin

[2022-03-14 20:29] hafiz-mohsin-confiz opened #142 "How can we trigger the mention list with @ Sign with System Emojis"
Hi @szweier ,
Hope you are doing great. Is there a way in library to handle mention list along the system emoji/custom emoji without using any  extra empty space {" " } before system emoji or custom emojis, and we will be able to show the mention list on @Sign with them.

Waiting for your quick reply?

Regards,
Mohsin